[Unit]
Description=ill-brb back
After=network.target

[Service]
Type=simple
User=ill-brb
WorkingDirectory=/var/www/ill-brb.example.com/backend/
Environment=NODE_ENV=production
ExecStart=/usr/bin/npm run start
Restart=always

[Install]
WantedBy=multi-user.target
