.form {
    background-color: #123;
    border-radius:25px;
    width: 80%;
    max-width: 800px;
    padding: 30px;
    margin: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.row {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.row label {
    width: 120px;
}

.row.future {
    text-decoration: line-through;
}

.row input {
    padding: 1em;
    border-radius: 10px;
}

.button {
    margin: 1em auto;
    display: block;
    width: fit-content;
    padding: 1em;
    background-color: #794bc4;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
