.header {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.location {
    padding: 0 0.5em;
}

.hosted {
    padding: 0 0.5em;
}

.label {
    display: inline-block;
    margin: 0.5em;
}

.preview, .loading {
    display: inline-block;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 20px;
}

.images {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.star {
    display: inline-block;
    padding: 0.5em;
}

.details {
    display: flex;
    margin: 1em;
    width: 100%;
    max-width: 800px;
    justify-content: space-around;
}
.details .callout {
    border: 5px solid green;
    border-radius: 10px;
    width: fit-content;
}

.details .description {
    margin: 1em;
}

.details .price{
    margin: 0.5em;
    padding: 0.5em;
}

.details button {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
}

.reviews {
    width: 60%;
    max-width: 800px;
}

.numReviews {
    margin-left: 0.5em;
}

.review {
    display: block;
    border: #ddd 5px solid;
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.5em;
    width: 90%;
    max-width: 700px;
}

.postYourReview {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: none;
}
