* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    color: #ddd;
    background-color: #111;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    width: 100%;
}

header h1 {
    display: flex;
    align-items: center;
    gap: 1em;
}
